* {
    margin: 0;
    padding: 0;
}

:root{
    --primary-color : #333;
}

body{
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    color: var(--primary-color);
}

h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 48px;
    margin: 12px 0;
}

header .quote{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    font-style: italic;
    max-width: 590px;
    margin-left:12px ;
    
}


h2{
    margin: 16px 0;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 24px;
}

h3{
    margin: 16px 0;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    grid-column: 1/1;
}

.main-wrapper{
    grid-column: 2/span 1;
}

.recipe-photo{
    margin: 24px 0;
}

.recipe-photo img{
    width: 100%;
}



.recipe-part, .recipe-instructions{
    display: grid;
    grid-template-columns: 70% 1fr;
}

.ingredient-container{
    grid-column: 1/1;
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 20px;
    justify-items: center;
    /* align-items: center; */
    margin: 8px 0 ;
}

.ingredient-container input{
    width: 21px;
    height: 21px;
    color: #F2994A;
}

.ingredient-container label{
    justify-self: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.suggestion {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-weight: bold;
}



.stage{
    grid-column: 1/1;
    display: grid;
    grid-template-columns: 40px 1fr;
    margin-bottom: 25px;
    column-gap: 20px;
    
}

.stage-number{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 24px;
    background-color:#F2994A ;
    color: white;
    height: 36px;
    margin: 2px;
    text-align: center;
    border-radius: 4px;
    align-content: center;
    box-sizing: border-box;
    
    
}

.stage-instruction{
    text-align: justify;
}